* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  width: 1350px;
  margin: 0 auto;
}
.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 120px;
  margin-left: 40px;
  padding-bottom: 50px;
}
.header {
  width: 1280px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.menu {
  width: 1248px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  gap: 11.4px;
  /* align-items: center; */
  align-self: center;
}
.logo p {
  color: #02073e;
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  opacity: 0.800000011920929;
}
.actions {
  width: 502px;
  display: flex;
  justify-content: space-evenly;

  color: #02073e;
  text-align: center;
  font-family: "FontAwesome";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 206.25% */
}
.button button {
  width: 112px;
  height: 42px;
  border-width: 0px;
  border-radius: 10px;
  padding: 10px 9px;
  background-color: #fcf2e8;
  flex-shrink: 0;
  color: #ef9e48;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.16px;
}
.header-content {
  margin-top: 110px;
  display: flex;
  align-items: center;
  gap: 40px;
}
.left {
  width: 690px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.text-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.rating {
  display: flex;
  align-items: center;
  gap: 8px;
}
.rating p {
  color: #02073e;
  font-family: "Heebo", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.text-content h1 {
  color: #02073e;
  font-family: "DM Sans";
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: -2px;
}
.frame {
  display: flex;
  width: 379px;
  height: 15px;
  transform: rotate(-1.224deg);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-left: 188px;
  margin-right: 121px;
}
.frame svg {
  width: 379.006px;
  height: 15.012px;
  flex-shrink: 0;
  fill: #ef9e48;
}
.text-content p {
  width: 507px;
  color: #02073e;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 233.333% */
}
#search {
  width: 520px;
  height: 70px;
  border-radius: 8px;
  border-width: 0px;
  border-radius: 8px;
  background: #ccc;
  box-shadow: 0px 10px 50px 0px rgba(48, 98, 144, 0.08);
  padding: 15px 340px 15px 24px;
}
.search-sec {
  display: flex;
  align-items: center;
}
.search-sec img {
  position: relative;
  right: 45px;
}
.header-footer {
  width: 490px;
  height: 42px;
  display: flex;
  gap: 25px;
  align-items: center;
}
.header-footer p {
  width: 106px;
  color: #02073e;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 262.5% */
  opacity: 0.6000000238418579;
}
.right {
  width: 575px;
  height: 710px;
}

.right-img {
  width: 575px;
  height: 710px;
  flex-shrink: 0;
  background: url(right-img.png);
  background-repeat: no-repeat;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-img {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  background-image: url(Ellipse.png);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 15px;
  right: 16px;
}
.play-button {
  width: 43px;
  height: 43px;

  background-image: url(play-button.png);
}
.tutorial {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.tutorial-head {
  margin: 0 auto;
}
#features {
  color: #ef9e48;
  text-align: center;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 285.714% */
  letter-spacing: 2.1px;
  text-transform: uppercase;
}
#description {
  color: #0f2137;
  text-align: center;
  font-family: DM Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 152.778% */
  letter-spacing: -1.5px;
}
.course {
  display: flex;
  gap: 5px;
  width: 464px;
}
.course-1:hover {
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
}
.course-2:hover {
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
}
.course-3:hover {
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
}
.course-img {
  background-image: url(course-1.png);
  width: 420px;
  height: 272px;
  background-repeat: no-repeat;
}
.course-2 .course-img {
  background-image: url(course-2.png);
  width: 420px;
  height: 272px;
  background-repeat: no-repeat;
}
.course-3 .course-img {
  background-image: url(course-3.png);
  width: 420px;
  height: 272px;
  background-repeat: no-repeat;
}
.course-content {
  margin-left: 20px;
  /* display: flex;
  flex-direction: column;
  gap: 10px; */
}
.course-content .rating p {
  color: #0f2137;
  font-family: "Heebo";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 200% */
  opacity: 0.800000011920929;
}
.viewers {
  display: flex;
  gap: 3px;
}
#total {
  color: #343d48;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  opacity: 0.800000011920929;
}
#course-about {
  width: 387px;
  /* height: 54px; */
  flex-shrink: 0;
  color: #0f2137;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
}

.course-features {
  display: flex;
  /* justify-content: c; */
  gap: 200px;
}
.left-features {
  display: flex;
  gap: 150px;
  position: relative;
  left: 120px;
}
.rectangle-1 {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.left-rec {
  position: relative;
  top: 86px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.content #total {
  text-align: center;
  font-family: "DM Sans";
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 76.389% */
  letter-spacing: -1.5px;
}
.content p {
  width: 162px;
  color: #0f2137;
  text-align: center;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  letter-spacing: -0.5px;
}
.content-1 #total {
  color: #ef9e48;
}
.content-2 #total {
  color: #fa578e;
}
.rectangle-2 .content-1 #total {
  color: #ff753a;
  text-align: center;
  font-family: DM Sans;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 76.389% */
  letter-spacing: -1.5px;
}
.rectangle-2 .content-2 #total {
  color: #e682ff;
  text-align: center;
  font-family: DM Sans;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 76.389% */
  letter-spacing: -1.5px;
}
.right-features {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.right-features #one {
  color: #ef9e48;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 285.714% */
  letter-spacing: 2.1px;
  text-transform: uppercase;
}
.right-features button {
  width: 150px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fcf2e8;
  border-width: 0px;
}
.right-features #four {
  color: #ef9e48;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}
.right-features #two {
  width: 480px;
  height: 154px;

  color: #0f2137;
  font-family: DM Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 114.583% */
  letter-spacing: -1.5px;
}
.right-features #three {
  width: 454px;
  height: 166px;
  flex-shrink: 0;
  color: #02073e;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 233.333% */
}
.popular-courses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.course-heading {
  /* width: 580px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 30px; */
}
.course-heading #two {
  width: 580px;
  height: 55px;
}
.items {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 60px;
}

.items-container {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.circle {
  width: 90px;
  height: 90px;
  flex-shrink: 0;
  border-radius: 100px;
  /* opacity: 0.07000000029802322; */
  background: #ef9e481a;
}
.circle {
  background-image: url(yellow-play-button.png);
  background-repeat: no-repeat;
  background-position: center;
}
.items-des {
  width: 685px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.items-des h1 {
  color: #0f2137;
  font-family: DM Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.items-des p {
  color: #5d646d;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 280% */
}
.info {
  width: 205px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 6px;
  background: #3fdbb1;
}
.info .divider {
  width: 1px;
  height: 25px;
  border-radius: 6px;
  opacity: 0.5;
  background: #fff;
}
.info p {
  color: #fff;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 200% */
}
.container-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.down {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.down-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.down-left-content {
  display: flex;
  align-items: center;
  gap: 5px;
}
.down-left-content p {
  color: #0f2137;
  font-family: "DM Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 280% */
}

.pricing-table {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 100px;
}

.pricing-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.header-des {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-des p {
  color: #ef9e48;
  text-align: center;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}
.header-des h1 {
  color: #0f2137;
  text-align: center;
  font-family: "DM Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 152.778% */
  letter-spacing: -1.5px;
}
.plan {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.plan button {
  width: 146px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
  filter: drop-shadow(0px 3px 3.799999952316284px rgba(38, 78, 118, 0.1));
  color: #0f2137;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.24px;
  border-color: white;
  border-width: 0.5px;
}
.price-content {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.content-box {
  display: flex;
  flex-direction: column;
  gap: 60px;
  border-radius: 10px;
  border: 1px solid #f3f4f5;
  background: #fff;
}
.price-content-head {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.price-content-head h1 {
  color: #0f2137;
  font-family: "DM Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.55px;
}
.price-content-head p {
  color: #343d48;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
}
li {
  max-width: 295px;
  display: flex;
  gap: 14px;
  align-items: center;
}
.content-box-button {
  max-width: 220px;
  align-self: center;
  border-radius: 5px;
  background: #fcf2e8;
  border-width: 0px;
  padding: 13px 52px;
  background-color: #fcf2e8;
  color: #ef9e48;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.16px;
  text-align: center;
}
footer {
  /* max-width: 950px; */
  display: flex;
  gap: 75px;
  justify-content: center;
}
.common {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.common h1 {
  color: #0f2137;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  letter-spacing: -0.5px;
}
.common ul {
  color: #02073e;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 250%; /* 35px */
  opacity: 0.800000011920929;
}
.common ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
